
@model IEnumerable<BuyNSell.Models.ViewModels.ProductList_ViewModel>


<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/MyScript.js"></script>
</head>

<body>


<div id="divTotalProduct" style="font-weight: bold;font-size: 20px; margin-left:2%">
    <label id="lblTotalProducts">Total Products: @Session["TotalRecords"]</label>
</div>

<div id="divProductList" style="margin:1% 1% 1% 1%">



    @foreach (var item in Model)
    {
        <div id="divResultRow" style="border:solid; height:30%; border-radius:10px; padding:1%; margin:1%; display:flex">

            <div id="divSrNo">
                @Html.DisplayFor(m => item.SrNo)
            </div>

            <div id="divpicture">
                <img src="data:image;base64,@System.Convert.ToBase64String(@item.PictureContent1)" style="height:150px;width:250px;" />
            </div>
            <div id="divPrice" style="margin-top:4%;margin-left:1%" class="LabelProductList">
                @Html.DisplayFor(m => item.ProductName)
            </div>


        </div>
    }
</div>

<div id="divPageNumber" style="margin-left:42%;margin-bottom:1%">
    <label id="lblPageNumber" style="padding-left:2%;font-weight:bold; font-size:20px">Page @Session["PageNumber"] Of @Session["LastPageNumber"] </label>
</div>
<div id="divPaging" style="margin-left:41%">

    @if (Convert.ToInt32(Session["PageNumber"]) > 1)
    {
        <button id="btnPreviousPage">PreviousPage</button>

    }
    
    
    
    <button id="btnNextPage">NextPage</button>
</div>



</body>
</html>

