
@model IEnumerable<BuyNSell.Models.ProductList_ViewModel>


<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/MyScript.js" type="text/javascript"></script>

    <script type="text/javascript">
        function btnAddOrder_Click(ProductId) {
            debugger;
            $("#divAddOrderBackground").show();
            $("#divAddOrder").show();
            $.ajax({
                type: "Get",
                url: "../Order/AddOrder",
                datatype: "json",
                data: { ProductId: ProductId },
                success: function (result) {
                    $("#divAddOrder").html(result);
                    //$('#divAddOrder').dialog('open');
                }

            });
            e.stopImmediatePropagation();
        }
    </script>




</head>

<body>


<div id="divTotalProduct" style="font-weight: bold;font-size: 20px; margin-left:2%">
    <label id="lblTotalProducts">Total Products: @Session["TotalRecords"]</label>
</div>

<div id="divProductList" style="margin:1% 1% 1% 1%">
    @foreach (var item in Model)
    {
        <div id="divResultRow" style="border:solid; height:30%; border-radius:10px; padding:1%; margin:1%; display:flex">

            <div id="divSrNo">
                @Html.DisplayFor(m => item.SrNo)
            </div>

            <div id="divpicture">
                <img src="data:image;base64,@System.Convert.ToBase64String(@item.PictureContent1)" style="height:150px;width:250px;" />
            </div>
            
            <div id="divProductName" style="margin: 4% 3% 0% 2%;" class="LabelProductList">
                @Html.DisplayFor(m => item.ProductName)
            </div>

            <div id="divPrice" style="margin: 4% 3% 0% 2%;" class="LabelProductList">
                @Html.Label("Price:- ")
                @Html.DisplayFor(m => item.Price)
            </div>

            <div id="divQuantity" style="margin: 4% 3% 0% 2%;" class="LabelProductList">
                @Html.Label("Available Quantity:- ")
                @Html.DisplayFor(m => item.Quantity)
            </div>

            <div id="divRating"  style="padding-top:4%">
                @Html.Action("Rating", "Rating", new { ProductId = item.ProductId })
            </div>

            <div id="divOrder" style="margin: 4% 3% 0% 2%;">
                @*<input id="btnOrder" type="button" value="Order" class="SubmitButton" onclick="location.href='@Url.Action("AddOrder","Order",new {ProductId = item.ProductId})'" />*@
           
                 <button id="btnAddOrder" class="SubmitButton" onclick="btnAddOrder_Click(@item.ProductId)" > Place Order </button>
                 
             </div>


        </div>
    }
</div>

    <div id="divPageNumber" style="margin-left:42%;margin-bottom:1%">
        <label id="lblPageNumber" style="padding-left:2%;font-weight:bold; font-size:20px">Page @Session["PageNumber"] Of @Session["LastPageNumber"] </label>
    </div>
    <div id="divPaging" style="margin-left:41%">

        @if (Convert.ToInt32(Session["LastPageNumber"]) > 1 && Convert.ToInt32(Session["PageNumber"]) > 1)
        {
            <button id="btnPreviousPage">PreviousPage</button>
        }

        @if (Convert.ToInt32(Session["LastPageNumber"]) > 1 && Convert.ToInt32(Session["LastPageNumber"]) != Convert.ToInt32(Session["PageNumber"]))
        {
            <button id="btnNextPage">NextPage</button>
        }

    </div>



    




</body>
</html>
