

@model BuyNSell.Models.ProductList_ViewModel

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/MyScript.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            debugger;
            var PictureCount = $("#hfPictureCount").val();
            var PictureNumber = $("#hfPictureNumber").val();

            if(PictureCount == 1 ){
                $("#btnPreviousPicture").attr("disabled", true);
                $("#btnNextPicture").attr("disabled", true);
                $("#btnNextPicture").css("cursor", "not-allowed");
                $("#btnPreviousPicture").css("cursor", "not-allowed");
            }

            if(PictureNumber == 0){
                $("#btnPreviousPicture").attr("disabled", true);
                $("#btnPreviousPicture").css("cursor", "not-allowed");
            }

        });

        function btnNextPicture_click(ProductId) {
            //debugger;

            $.ajax({
                type: "Post",
                url: "../Product/btnnext_Click",
                datatype: "json",
                data: { ProductId: ProductId },
                success: function (result) {
                    debugger;
                    $("#imgProductPicture").attr("src", result);

                    //$("#imgProductPicture").fadeOut(500,function(){
                    //    $("#imgProductPicture").attr("src", result).fadeIn(500);
                    //});

                    var PictureCount = $("#hfPictureCount").val();
                    var PictureNumberLast = $("#hfPictureNumber").val();
                    var PictureNumberCurrent = parseInt( PictureNumberLast ) + 1;
                    $("#hfPictureNumber").val(PictureNumberCurrent);

                    if(PictureNumberCurrent == PictureCount - 1){
                        $("#btnNextPicture").attr("disabled", true);
                        $("#btnNextPicture").css("cursor", "not-allowed");
                    }
                    else{
                        $("#btnNextPicture").attr("disabled", false);
                        $("#btnNextPicture").css("cursor", "pointer");
                    }

                    if(PictureNumberCurrent == 0 ){
                        $("#btnPreviousPicture").attr("disabled", true);
                        $("#btnPreviousPicture").css("cursor", "not-allowed");
                    }
                    else{
                        $("#btnPreviousPicture").attr("disabled", false);
                        $("#btnPreviousPicture").css("cursor", "pointer");

                    }
                }
            });
           // e.stopImmediatePropagation();
        }


        function btnPreviousPicture_click(ProductId){
            //debugger;

            $.ajax({
                type:"Post",
                url: "../Product/btnPreviousPicture_click",
                datatype: "json",
                data: { ProductId: ProductId },
                success: function (result) {
                    debugger;
                    $("#imgProductPicture").attr("src", result);

                    //$("#imgProductPicture").fadeOut(500,function(){
                    //    $("#imgProductPicture").attr("src", result).fadeIn(500);
                    //});

                    var PictureCount = $("#hfPictureCount").val();
                    var PictureNumberLast = $("#hfPictureNumber").val();
                    var PictureNumberCurrent = parseInt( PictureNumberLast ) - 1;
                    $("#hfPictureNumber").val(PictureNumberCurrent);

                    if (PictureCount == PictureNumberCurrent + 1) {
                        $("#btnNextPicture").attr("disabled", true);
                        $("#btnNextPicture").css("cursor", "not-allowed");
                    }
                    else{
                        $("#btnNextPicture").attr("disabled", false);
                        $("#btnNextPicture").css("cursor", "pointer");
                    }

                    if(PictureNumberCurrent == 0){
                        $("#btnPreviousPicture").attr("disabled", true);
                        $("#btnPreviousPicture").css("cursor", "not-allowed");
                    }
                    else{
                        $("#btnPreviousPicture").attr("disabled", false);
                        $("#btnPreviousPicture").css("cursor", "pointer");
                    }
                }
            });
          //  e.stopImmediatePropagation();
        }


    </script>

</head>
<body>
    <div id="divViewProductDetails">

        <input type="hidden" id="hfPictureCount" value="@Convert.ToInt32(Session["PictureCount"])" />
        <input type="hidden" id="hfPictureNumber" value="@Convert.ToInt32(Session["PictureNumber"])" />
        
        <img id="btnCloseViewProductDetails" src="~/Images/Close.jpg" style="width:30px;cursor: pointer;margin: 2% 0% 0% 93%;" />
        
        @*Image changes start*@

        <div id="divProductPicture" style="display:flex;margin:-2% 0% 4% 15%;height: 280px;width: 430px;" class="carousel slide" data-ride="carousel">

            <button id="btnPreviousPicture" class="left carousel-control" type="button" onclick="btnPreviousPicture_click(@Model.ProductId)" style="border: none;"><span class="glyphicon glyphicon-chevron-left"></span></button>
            @*<a id="btnPreviousPicture" class="left carousel-control" style="cursor: pointer;" data-slide="prev" onclick="btnPreviousPicture_click(@Model.ProductId)">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>*@

            <img id="imgProductPicture" src="data:image/jpeg;base64,@System.Convert.ToBase64String(Model.PictureContent)" alt="No Image" style="height: 280px;width: 430px;" />

            <button id="btnNextPicture" type="button" class="right carousel-control" onclick="btnNextPicture_click(@Model.ProductId)" style="border: none;"><span class="glyphicon glyphicon-chevron-right"></span></button>
            @*<a id="btnNextPicture" class="right carousel-control" style="cursor: pointer;" data-slide="next" onclick="btnNextPicture_click(@Model.ProductId)" >
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>*@
        </div>

        <div id="divProductName" class="divViewProductDetails">
            <div class="LabelProductDetailsBold">
                @Html.Label("Product Name")
            </div>
            <div class="LabelProductDetails" style="margin-left: 83px">
                @Html.DisplayFor(m => m.ProductName)
            </div>
        </div>

        <div id="divProductDescription" class="divViewProductDetails">
            <div class="LabelProductDetailsBold">
                @Html.Label("Description")
            </div>
            <div class="LabelProductDetails" style="margin-left: 107px;">
                @Html.DisplayFor(m => m.ProductDescription)
            </div>
        </div>

        <div id="divProductBuyerName" class="divViewProductDetails">
            <div class="LabelProductDetailsBold">
                @Html.Label("Buyer Name")
            </div>
            <div class="LabelProductDetails"   style="margin-left: 101px;">
                @Html.DisplayFor(m => m.UserName)
            </div>
               
        </div>


        <div id="divProductCategoryName" class="divViewProductDetails">
            <div class="LabelProductDetailsBold">
                @Html.Label("Category")
            </div>
            <div class="LabelProductDetails" style="margin-left: 126px;">
            @Html.DisplayFor(m => m.ProductCategoryName)
            </div>
        </div>

        <div id="divProductQuantity" class="divViewProductDetails">
            <div class="LabelProductDetailsBold">
                @Html.Label("Available Quantity")
            </div>
            <div class="LabelProductDetails" style="margin-left: 50px;">
            @Html.DisplayFor(m => m.Quantity)
            </div>
        </div>

        <div id="divProductAddedDate" class="divViewProductDetails">
            <div class="LabelProductDetailsBold">
                @Html.Label("Added Date")
            </div>
            <div class="LabelProductDetails" style="margin-left: 105px;">
            @Html.DisplayFor(m => m.AddedDate)
            </div>
        </div>

        <div id="divProductPrice" class="divViewProductDetails">
            <div class="LabelProductDetailsBold">
                @Html.Label("Price")
            </div>
            <div class="LabelProductDetails" style="margin-left: 162px;">
            @Html.DisplayFor(m => m.Price)
            </div>
        </div>

    </div>
</body>
</html>