
@model BuyNSell.Models.ProductMaster

@{
    ViewBag.Title = "AddProduct";
}

<!DOCTYPE html>
<html>
<head>
    
</head>
<body style="background-color:lightgrey">
<div style="background-color:lightgrey;padding:1% 0% 10% 0%">

    <div style="width:600px;height:550px; margin:0% 30% 0% 30%; padding:2% 6% 5% 5%; border-radius:35px; background-color:white; box-shadow:30px 20px 17px #888888;">
        <h2 style="padding-left:28%">Add Product</h2>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @*<div style="padding-bottom:5%">
                  <img src="/Product/ShowPhoto/100" alt="" />
                </div>*@



            <div style="margin-bottom:4%;display:flex" >
                @Html.Label("Product Name", new { @class = "LabelAddOrderBold", style = "margin-right: 71px;" })
                @Html.TextBoxFor(m => m.ProductName, new { placeholder = "Product Name", @class = "form-control", style = "width: 56%;" })
                @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "ErrorMsg" })
            </div>

            <div style="margin-bottom:4%;display:flex">
                @Html.Label("Product Description", new { @class = "LabelAddOrderBold", style = "margin-right:24px;" })
                @Html.TextAreaFor(m => m.ProductDescription, new { placeholder = "Product Description", @class = "form-control", style = "width: 56%;" })
                @Html.ValidationMessageFor(m => m.ProductDescription, "", new { @class = "ErrorMsg" })
            </div>

            <div style="margin-bottom:4%;display:flex" >
                @Html.Label("Product Category", new { @class = "LabelAddOrderBold", style = "margin-right: 44px;" })
                @Html.DropDownListFor(m => m.ProductCategoryId, new SelectList(ViewBag.CategoryList, "Value", "Text"), "Select Category", new { @class = "form-control",style = "width: 56%;" })
                @Html.ValidationMessageFor(m => m.ProductCategoryId, "", new { @class = "ErrorMsg" })
            </div>

            <div style="margin-bottom:4%;display:flex">
                @Html.Label("Price", new { @class = "LabelAddOrderBold", style = "margin-right: 145px;" })
                @Html.TextBoxFor(m => m.Price, new { placeholder = "Price" , @class = "form-control", style = "width: 56%;" })
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "ErrorMsg" })
            </div>


            <div style="margin-bottom:4%;display:flex">
                @Html.Label("Product Quantity", new { @class = "LabelAddOrderBold", style = "margin-right: 49px;" })
                @Html.TextBoxFor(m => m.Quantity, new { placeholder = "Quantity", @class = "form-control", style = "width: 56%;" })
                @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "ErrorMsg" })
            </div>

            <div style="margin-bottom:4%;display:flex">
                @Html.Label("Product Pictures", new { @class = "LabelAddOrderBold", style = "margin-right: 124px;" })
                <input type="file" accept="image/*" name="SelectPicture1" id="SelectPicture1" multiple="multiple" />

                @Html.ValidationMessageFor(m => m.ProductId, "*")


                @*<input type="file" name="SelectPicture2" id="SelectPicture2" style="margin-left:40%" />
                    <input type="file" name="SelectPicture2" id="SelectPicture2" style="margin-left:40%" />*@

                @*@Html.TextBoxFor(m => m.ProductPicture, new {type="file",multiple="multiple" })*@
                @*@Html.ValidationMessageFor(m => m.ProductPicture, "", new { @class = "ErrorMsg" })*@
            </div>

            <div style="padding:3% 0% 0% 0%">
                <input type="submit" value="Add Product" class="btn btnSubmit" style="margin-left: 27%;width: 50%;" />
            </div>




        }

    </div>
</div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
