

@model BuyNSell.Models.OrderMaster

@using BuyNSell.Models

@{
    ProductMaster ProductMaster = Session["ProductInfo"] as ProductMaster;
}



<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/MyScript.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {

        <div id="divOrder" style="padding-left:14%;width:90%;height:90%">

            <h3 style="padding-left:20%">Place Order</h3>

           
            <div style="padding-bottom:4%">
                @Html.Label("Product Name", new { @class = "Label" })
                @Html.Label(@ProductMaster.ProductName)
            </div>

            <div style="padding-bottom:4%">
                @Html.Label("Available Quantity", new { @class = "Label" })
                @Html.Label(@ProductMaster.Quantity.ToString())               
            </div>

            <div style="padding-bottom:4%">
                @Html.Label("Price", new { @class = "Label" })
                @Html.Label(@ProductMaster.Price.ToString())
            </div>

            <div style="padding-bottom:4%">
                @Html.Label("Order Quantity", new { @class = "Label" })
                @Html.DropDownListFor(m => m.OrderQuantity, new SelectList((List<SelectListItem>)Session["ddlOrderQuantity"], "Value", "Text"))
                @Html.ValidationMessageFor(m => m.OrderQuantity)
            </div>

            <div style="padding-bottom:4%">
                @Html.Label("Payment Amount", new { @class = "Label" })
                @Html.Label(@ProductMaster.Price.ToString(),new { id= "lblPaymentAmount" })
            </div>

            <div style="padding-bottom:4%">
                @Html.Label("Delivery Address", new { @class = "Label" })
                @Html.TextAreaFor(m => m.DeliveryAddress)
                @Html.ValidationMessageFor(m => m.DeliveryAddress)
                @Html.Label("*",new {id="lblErrorDelivery", @class= "ErrorMsg", style="display:None" })
            </div>

            <div style="padding-bottom:4%">
                @Html.Label("Contact Number", new { @class = "Label" })
                @Html.TextBoxFor(m => m.ContactNum)
                @Html.ValidationMessageFor(m => m.ContactNum)
                @Html.Label("*", new {id="lblErrorContact", @class = "ErrorMsg", style = "display:None" })
            </div>


            <div style="margin-left:10%">
                <input id="btnOrderNow" type="submit" value="Order Now" class="SubmitButton" />

                <button id="btnOrderNowCancel" type="button" class="SubmitButton" style="margin-left:5%">Cancel</button>
            </div>


        </div>
    }

    </body>
</html>
