
@model BuyNSell.Models.UserMaster_Login_ViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body style="background-color:lightgrey">
    
    <div style="background-color:white; margin:6% 35% 0% 30%; padding:2% 6% 5% 7%; border-radius:50px; box-shadow:30px 20px 17px #888888;">  
        <h2 style="padding-left:28%">LogIn</h2>
        <div>
          @Html.ValidationSummary(true,"", new { @class = "ErrorMsg",style= "list-style-type: none;" })  
        </div> 
   @using(Html.BeginForm())
   {
        <div style="padding-bottom:10%;display:inline-flex;">
        @*@Html.LabelFor(m => m.EmailId, new { @class="Label" })*@
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                @Html.TextBoxFor(m => m.EmailId, new { placeholder = "Email Id", @class = "form-control" })
            </div>
        @Html.ValidationMessageFor(m => m.EmailId,"",new {@class = "ErrorMsg" })
        </div>

        <div style="display:inline-flex;" >
            @*@Html.LabelFor(m => m.Password, new { @class="Label",style= "padding-right: 2%;" })*@
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
               @Html.PasswordFor(m => m.Password,new { placeholder="Password",@class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Password,"", new { @class = "ErrorMsg" })
        </div>
        
        <div style="padding:10% 25% 1% 10%">
            <input id="btnLogIn" type="submit" value="LogIn" class="btn btnSubmit" style="width:100%" />
        </div>
    
        }

        <div style="margin:20% 2% 0% 0%; display:inline-flex">
          <div>
              <label style="font-weight:bold">Don't Have Account?</label>

          </div>
            
           <div style="padding-left:5%">
               <input id="btnSignUp" type="button" value="SignUp" class="btn btnSubmit" onclick="location.href='@Url.Action("Signup","Login")'" style="margin-top:-7%" />
           </div>
           
        </div>

    </div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@*@Styles.Render("~/Content/css")*@


