
@model BuyNSell.Models.UserMaster

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color:lightgrey">
    <div style="background-color:white; margin:0% 30% 0% 30%; padding:1% 6% 3% 7%; border-radius:50px; box-shadow:30px 20px 17px #888888;">
        <h2 style="padding-left:28%">SignUp</h2> 
        
        @using (Html.BeginForm())
        {
            <div style="margin-bottom: 2%;">
               @Html.Label("First Name",new { @class="Label",style= "padding-right: 16%;" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "ErrorMsg", style = "display: inline-block;" })
            </div>

            <div style="margin-bottom: 2%;">
                @Html.Label("Last Name", new { @class = "Label", style = "padding-right: 17%;" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control" })
                 </div>
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "ErrorMsg", style = "display: inline-block;" })
                </div>

            <div style="margin-bottom: 2%;">
                @Html.Label("Email Id", new { @class = "Label", style = "padding-right: 21%;" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    @Html.TextBoxFor(m => m.EmailId, new { placeholder = "Email Id", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "ErrorMsg", style = "display: inline-block;" })
            </div>

            <div style="margin-bottom: 2%;">
                @Html.Label("Mobile Number", new { @class = "Label"})
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                    @Html.TextBoxFor(m => m.MobileNum, new { placeholder = "Mobile Number", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.MobileNum, "", new { @class = "ErrorMsg", style = "display: inline-block;" })
             </div>

            <div style="margin-bottom: 2%;">
                @Html.Label("Password", new { @class = "Label", style = "padding-right: 20%;" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "ErrorMsg", style = "display: inline-block;" })
                </div>

            <div style="margin-bottom: 2%;">
                @Html.Label("Confirm Password", new { @class = "Label", style = "padding-right: 2%;" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "ErrorMsg",style= "display: inline-block;" })
            </div>

            <div style="margin:5% 0% 0% 0%"> 
                <input type="submit" value="SignUp" class="btn btnSubmit" style="width:50%;margin-right:5%" />
                <input id="btnBackToLogIn" type="button" value="Back To LogIn" class="btn btnSubmit" onclick="location.href='@Url.Action("Login","Login")'" />

            </div>
        }

            </div>
</body>


</html>

@Scripts.Render("~/bundles/jqueryval")
@*@Styles.Render("~/Content/css")*@

