<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuyNSell</title>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/MyScript.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $(".dropdown").hover(
                    function () {
                        $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
                        $(this).toggleClass('open');
                        $('b', this).toggleClass("caret caret-up");
                    },
                    function () {
                        $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
                        $(this).toggleClass('open');
                        $('b', this).toggleClass("caret caret-up");
                    });
        });
   </script>
    <style>
    .caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
      }
    </style>

</head>

<body style="padding-top: 0px;padding-bottom: 0px;">

    <div style="width:100%;display:flex; background-color:#71C6ED">
        <div>
            @*     @Html.ActionLink("BuyNSell", "Index", "Home", new { @class = "Homeicon" })*@
            <a href="@Url.Action("Home","Home")">
                <img src="~/Images/BuyNSellLogo.jpg" style="width: 200px;height: 125px;" />
            </a>
        </div>

        <div style="width:90%">
            <div style="height:50%; display:flex">
                <div style="padding-left:20%; width:80%">
                    <label style="font-size:250%">India's MegaStore</label>
                </div>
                <div style="width:20%;padding-top: 1%;">
                    <label style="font-size: 20px;">Welcome @Session["FirstName"]</label>
                </div>
            </div>    
        
      <nav class="navbar navbar-default" style="height: 48%;margin-bottom: 0px;font-weight: bold;font-size: 20px;">
        <div class="container-fluid">
            <ul class="nav navbar-nav" style="width:70%">
                <li class="dropdown" style="width: 20%;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        My Products
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add Product", "AddProduct", "Product")</li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li style="width: 20%;"><a href="#">My Orders</a></li>
                <li style="width: 20%;"><a href="#">My Cart</a></li>
                <li style="width: 25%;"><a href="#">Customer Orders</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="width: 30%;">
                <li class="dropdown" style="width: 45%;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Setting
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                    </ul>
                </li>

                @*<li style="width: 45%;">@Html.ActionLink("Log Out", "Logout", "Login")</li>*@

                <li style="width: 45%;"><button id="btnLogout" class="btn btn-danger navbar-btn" style="margin-top: 10px;margin-bottom: 10px;">LogOut</button></li>

            </ul>


        </div>
    </nav>

    </div>
        </div>


    <div>
        @RenderBody()
    </div>

    <div id="divPopupBackground" style="display:none; position:fixed;height: 100%;width:100%;top:0px;left:0px;opacity:0.5;background-color:black; z-index:1">
    </div>

    <div id="divLoadingBackground" style="display:none;position:fixed;height:100%;width:100%;top:0px;left:0px;opacity:0.1;background-color:black; z-index:11">
    </div>

    <div id="divLoadingImage" style="display:none;position:fixed;left:40%;top:40%;z-index:12">
        @*<img src="~/Images/Loading.gif" />*@
        <img src="~/Images/739.gif" />
        @*  <img src="~/Images/Loading(1).gif" />*@
    </div>





    <div id="divLogoutConfirm" style="display:none; position:fixed;background-color:white; z-index:2;left:35%;top:25%; height: 170px;width: 360px; border-radius:35px;box-shadow:30px 20px 17px;">

        <div style="margin-left:10%; margin-top:10%">
            @*<img src="~/Images/question-mark-icon.jpg" style="width:10%;" />*@
            <label style="font-weight:bold;font-size: 17px; padding-left:2%">Are You Sure You Want To Logout ?</label>
        </div>

        <div style="margin-top: 10%;margin-left: 12%;">
            <button type="button" id="btnLogoutConfirmYes" class="btnConfirm btn btn-danger" onclick="location.href='@Url.Action("Logout","Login")'">Yes,LogOut</button>
            <button type="button" id="btnLogoutConfirmNo" style="margin-left:4%" class="btnConfirm btn btn-success">No,Keep me Login</button>
        </div>
        </div>
        @RenderSection("Scripts", false)


</body>



</html>


<footer style="position:fixed;bottom: 0;margin-top:1%">
    <label>&copy; @DateTime.Now.Year - Kalpesh Tandel ASP.NET Application</label>
</footer>

@*@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")*@
